body {
   margin: 0;
   text-align: center;
   font-family: 'Merriweather', serif;
   font-size: 1rem;
}
.navbar {
  padding: 5px;

}

.top {
   background-color: #D3D3D3;
   padding: 20px;

}
h1 {
  color: #696969;
   margin: 50px auto 0 auto;
   font-family: 'Sacramento', cursive;
   font-size: 5.625rem;

}
h2 {
  color: #696969;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}
h3 {
  color: #696969;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}
hr {
  border: dotted;
  border-bottom: none;
  color: grey;
  width: 4%;
  border-width: 6px;
  margin: 100px auto 100px;
}
p {
  margin: 20px auto 20px;
  color: black;
}
.top-cloud {
  width: 250px;
  height: 180px;
  position: relative;
  padding: 10px;
  margin-left: 600px;

}
.bottom-cloud {
  width: 250px;
  height: 180px;
  position: absolute;
}
.avatar {
  width: 280px;
  border-radius: 70%;
}
.skill {
  width: 25%;
  height: 40%;
  border-radius: 70%;
  float: left;
  margin-right: 30px;
}
.skill1 {
  width: 25%;
  height: 25%
  border-radius: 70%;
  float: right;
  margin-left: 30px;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.bottom-container {
  background-color: #696969;
  padding:50px 0 20px;
  margin: 50px 0 0 0;
}
a {
  color: #DCDCDC;
  text-decoration: none;
  margin: 10px 20px 20px 10px;
  font-family: 'Montserrat', sans-serif;
}
a:hover {
  color: black;

}
.intro {
  width: 30%;
  margin: auto;
}
.contact {
  width: 50%;
  margin: auto auto 50px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #808080;
}

li {
float: right;
}

li a {
  display: block;
  color: white;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{
color: black;
}

.copyright {
   color: black;
   font-size: .75rem;
   font-family: 'Montserrat', sans-serif;
   padding: 10px 0 0 0;
}
.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #021D1F !important;
  font-size: 14px;
  padding: 10px 25px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  background: #2DE1EE;
  background: linear-gradient(top,  #DCDCDC,  #808080);
  background: -ms-linear-gradient(top,  #DCDCDC,  #808080);
  background: -webkit-gradient(linear, left top, left bottom, from(#DCDCDC), to(#808080));
  background: -moz-linear-gradient(top,  #DCDCDC,  #808080);
  margin-top: 100px;
}
.btn:hover {
  color: #14396A !important;
  background: #11CFA9;
  background: linear-gradient(top,  #C0C0C0,  #A9A9A9);
  background: -ms-linear-gradient(top,  #C0C0C0,  #A9A9A9);
  background: -webkit-gradient(linear, left top, left bottom, from(#C0C0C0), to(#A9A9A9));
  background: -moz-linear-gradient(top,  #C0C0C0,  #A9A9A9);
}
